if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME pic32mx
}

if { [info exists ENDIAN] } {
   set _ENDIAN $ENDIAN
} else {
   set _ENDIAN little
}

if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
   set _CPUTAPID 0x05FFF053
}


adapter_nsrst_delay 1000
jtag_ntrst_delay 1000

reset_config trst_and_srst separate

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME mips_m4k -endian $_ENDIAN -chain-position $_TARGETNAME

# use onboard 640k sram as working area
$_TARGETNAME configure -work-area-phys 0x80000000 -work-area-size 655360

$_TARGETNAME configure -event reset-init {}

$_TARGETNAME configure -event gdb-attach {}

gdb_breakpoint_override hard
gdb_flash_program disable
gdb_memory_map disable
#gdb_report_data_abort enable
#gdb_target_description enable
#gdb_save_tdesc enable
